:root {
  /* Primary */
  --heavy-lime: #588b00;
  --lime: #70b300;
  --mid-lime: #b0e875;
  --lite-lime: #e2f9ce;

  /* Secondary */
  --heavy-mobu: #146078;
  --mobu: #298bab;
  --mid-mobu: #70c7e4;
  --lite-mobu: #d8f6ff;

  /* Status */
  --heavy-fred: #cc3532;
  --infrared: #e54d4a;
  --mid-fred: #ee7977;
  --lite-fred: #fcd4d4;

  --heavy-goldi: #e29e2a;
  --goldikova: #fdb740;
  --mid-goldi: #ffd080;
  --lite-goldi: #fff2dc;

  --heavy-kelly: #397533;
  --kelly: #3f8f24;
  --mid-kelly: #77d56f;
  --lite-kelly: #e4f7e2;

  /* Whimsey */
  --heavy-royale: #4e1f91;
  --royale: #7848be;
  --mid-royale: #a173e4;
  --lite-royale: #ede1ff;

  --heavy-bloom: #9f0c56;
  --bloom: #de3589;
  --mid-bloom: #f377b5;
  --lite-bloom: #ffdeee;

  --heavy-tang: #de5c28;
  --tang: #f28d3f;
  --mid-tang: #ffb47a;
  --lite-tang: #ffe0d4;

  /* Neutrals */
  --snow: #ffffff;
  --snow40: #ffffff66;

  --midnight: #36424a;
  --raccoon: #36424a99;
  --wolf: #36424a33;
  --parrot: #36424a0c;

  --whale: #465864;

  --blackbird: #272d30;
}

html {
  background: var(--snow);
  font-size: 10px;
}

body {
  font-size: 1.75rem;
}
